<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> online_quiz </title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="http://css-tricks.com/data-uris/">
</head>

<body class="mybody">

    <div class="container-fluid header">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 logo">
                    <p>
                        <a href="index.php"><img src="images/very new logo.png" class="wow fadeIn" data-wow-delay="0.4s"
                                alt="logo" /></a>
                    </p>
                </div>
                <div class="col-md-6 social">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook wow fadeIn" data-wow-delay="0.4s"></i></li>
                        <li><i class="fa fa-envelope wow fadeIn" data-wow-delay="0.8s"></i></li>
                        <li><i class="fa fa-twitter wow fadeIn" data-wow-delay="1.2s"></i></li>
                        <li><i class="fa fa-whatsapp wow fadeIn" data-wow-delay="1.6s"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div