<% include header %>

<div class="container-fluid">
    <div class="row" style="height:100vh;margin: 0 auto">
        <div class="col-md-12">

            <table class="q-option">
                <tr>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/responsive.png" alt="www"></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/webDesigning">Web Designing</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/coding.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/webDevelopment">Web Development</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/paint-palette.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/graphicsDesigning">Graphics Designing</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/connection.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/networking">Networking</a></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/science.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/physics">Physics</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/computer.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/computer">Computer</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/books-stack-of-three.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/generalKnowledge">General Knowledge</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/flasks.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/chemistry">Chemistry</a></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/smartphone.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/mobiles">Mobiles</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/innovation.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/technology">Technology</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/quill-drawing-a-line.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/history">History</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/mosque-moon-and-star.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/islam">Islam</a></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/yin-yang-.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/religion">Religion</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/squirrel.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/animals">Animals</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/world-map.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/geogrphy">Geogrphy</a></p>
                        </div>
                    </td>
                    <td>
                        <div class="icon">
                            <a href="#"><img src="images/soccer-ball-variant.png" alt=""></a>
                        </div>
                        <div class="text">
                            <p><a href="/ranking/sports">Sports</a></p>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<% include footer %>